

<ul class="tweet_stream">
  <li>
    <div class="row">
      <div class="col-xs-2 avatar">
      <%= image_tag("cat-05.jpg",class: "tweet_avatar") %>
      </div>
      <div class="col-xs-10">
      <p> <a href="#" class="author_tag">@Author Tag</a>  <span class="time_stamp">Time Stamp</span> </p>
      <p> Message Data </p>
      <div class="buttons">
        <a href="#"><span class="glyphicon glyphicon-send"></span> Reply </a>
        <a href="#"><span class="glyphicon glyphicon-share-alt"></span> Retweet </a>
      </div>
      </div>
    </div>
  </li>
  <li>
    <div class="row">
      <div class="col-xs-2">
      <%= image_tag("cat-05.jpg",class: "tweet_avatar") %>
      </div>
      <div class="col-xs-10">
      <p> <a href="#" class="author_tag">@Author Tag</a>  <span class="time_stamp">Time Stamp</span> </p>
      <p> Message Data </p>
      <div class="buttons">
        <a href="#"><span class="glyphicon glyphicon-send"></span> Reply </a>
        <a href="#"><span class="glyphicon glyphicon-share-alt"></span> Retweet </a>
      </div>
      </div>
    </div>
  </li>
  <li>
    <div class="row">
      <div class="col-xs-2">
      <%= image_tag("cat-05.jpg",class: "tweet_avatar") %>
      </div>
      <div class="col-xs-10">
      <p> <a href="#" class="author_tag">@Author Tag</a>  <span class="time_stamp">Time Stamp</span> </p>
      <p> Message Data </p>
      <div class="buttons">
        <a href="#"><span class="glyphicon glyphicon-send"></span> Reply </a>
        <a href="#"><span class="glyphicon glyphicon-share-alt"></span> Retweet </a>
      </div>
      </div>
    </div>
  </li>
  <li>
    <div class="row">
      <div class="col-xs-2">
      <%= image_tag("cat-05.jpg",class: "tweet_avatar") %>
      </div>
      <div class="col-xs-10">
      <p> <a href="#" class="author_tag">@Author Tag</a>  <span class="time_stamp">Time Stamp</span> </p>
      <p> Message Data </p>
      <div class="buttons">
        <a href="#"><span class="glyphicon glyphicon-send"></span> Reply </a>
        <a href="#"><span class="glyphicon glyphicon-share-alt"></span> Retweet </a>
      </div>
      </div>
    </div>
  </li>
  <li>
    <div class="row">
      <div class="col-xs-2">
      <%= image_tag("cat-05.jpg",class: "tweet_avatar") %>
      </div>
      <div class="col-xs-10">
      <p> <a href="#" class="author_tag">@Author Tag</a>  <span class="time_stamp">Time Stamp</span> </p>
      <p> Message Data </p>
      <div class="buttons">
        <a href="#"><span class="glyphicon glyphicon-send"></span> Reply </a>
        <a href="#"><span class="glyphicon glyphicon-share-alt"></span> Retweet </a>
      </div>
      </div>
    </div>
  </li>
</ul>
